.coin {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-top: 2.2rem;
}

.icon {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.icon i {
  font-weight: 400;
  font-size: small;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.details span {
  font-weight: 600;
  color: green;
}

.listed {
  text-align: center;
}
