.logo {
  width: 5rem;
  height: auto;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2% 1% 0 0;
  background-image: linear-gradient(rgba(23, 22, 22, 1), rgba(246, 4, 4, 0.5), rgba(241, 206, 3, 1));
}

.navbar h2 {
  font-size: 1.5rem;
  color: #3d3b3b;
  text-shadow: 2px 2px 4px #fff;
}
