body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(247, 245, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

a {
  text-decoration: none;
}

.banner {
  padding: 5%;
  width: 100%;
  height: 105px;
  background-size: contain;
  border-radius: 2%;
  background-repeat: no-repeat;
}

.ban-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
}

.ban-content p,
.ban-content span {
  text-shadow: 2px 2px 4px #000;
}

.input {
  text-align: center;
}

input {
  padding: 2% 1%;
  text-align: center;
  font-size: 1.5rem;
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}

.summary {
  margin: 2% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
}

.summary span {
  font-weight: 600;
  text-decoration: underline;
  color: green;
}

section {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(247, 245, 242);
}

@media screen and (min-width: 450px){
  .mobile-frame {
    margin: 10px auto;
    width: 375px;
    height: 97vh;
    border: 10px solid #000;
    border-top-width: 45px;
    border-bottom-width: 45px;
    box-shadow: 0 0 30px gray;
    border-radius: 25px;
    overflow-y: auto;
    position: relative;
  }
  
  .mobile-frame::-webkit-scrollbar {
    display: none;
  }
}
